package days

import (
	"fmt"
	"io/ioutil"
)

func getInput() string {
	filePath := "days/day{{.}}.input"
	file, err := ioutil.ReadFile(filePath)
	if err != nil {
		fmt.Println("Error reading file", err)
	}

	return string(file)
}

func day{{.}}Part1() {
	fmt.Println("day {{.}} part 1")
}

func day{{.}}Part2() {
	fmt.Println("day {{.}} part 2")
}

func Day{{.}}() {
	day{{.}}Part1()
	day{{.}}Part2()
}